.ContactForm{
    background-color: #353E23;
    padding-top: 48px;
    padding-bottom: 48px;
    color: #FFFFFF
}

.ContactForm>.container {
    display: flex;
    flex-direction: column;
}

.ContactForm h2{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 125%;
    margin-bottom: 24px;
}

.ContactForm form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.form-row{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.field-wrapper{
    flex: 1;
}
.field-wrapper label,
.field-wrapper span {
    display: inline-block;
    font-weight: 500;
    line-height: 125%;
    margin-bottom: 8px;
    font-size: 16px;
}
.field-wrapper span{
    color: #FF9300;
}
.field-wrapper input{
    width: 100%;
    border-radius: 8px;
    border-width: 1px;
    padding: 19px 16px;
    border-color: #ffffff40;
    font-size: 14px;
    color: rgba(21, 19, 42, 0.5);
}

.full-width textarea{
    width: 100%;
    min-height: 144px;
    border-radius: 8px;
    border-width: 1px;
    padding: 13px 16px;
    border-color: #ffffff40;
    font-size: 20px;
}

.form-message {
    display: none;
}

.contact-form-button{
    border-radius: 64px;
    padding: 12px 32px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #FF9300;
    border: none;
    color: #FFFFFF;
    transition: all 0.3s ease;
}
.contact-form-button:hover{
    cursor: pointer;
    background-color: #bd6e00;
}

@media screen and (min-width: 1440px) {
    .ContactForm h2 {
        font-size: 40px;
        margin-bottom: 32px;
    }

    .form-wrapper{
        gap: 32px;
    }

    .form-row{
        width: 100%;
        flex-direction: row;
        gap: 16px;
    }

    .field-wrapper label,
    .field-wrapper span {
        font-size: 24px;
        height: 38px;
    }

    .field-wrapper input {
        padding: 13px 16px;
        font-size: 20px;
    }

    .form-message {
        display: block;
    }

    .contact-form-button{
        font-size: 20px;
    }

}