svg {
    display: block;
}

header {
    background: linear-gradient(90deg, #4f6722 30.73%, #84a44a 100%);
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
}

header>.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.brand {
    display: flex;
    gap: 12px;
    flex-direction: row;
    align-items: center;
    font-family: "Segoe Script", sans-serif;
}

.brand>img {
    width: 48px;
    height: 48px;
}

.brand-text>p {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    color: #fff;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
}

.header-nav {
    fill: #fff;
}

.modal-menu,
.header-menu {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: 32px;
}
.header-menu {
    display: none;
}

.header-menu>li,
.modal-menu>li {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}
.header-menu .nav-link {
    color: #fff;
}
.modal-menu .nav-link {
    color: black;
}

.lang-select {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.header-menu .lang-select {
    color: #fff;
}

.modal-lang-select {
    display: flex;
    gap: 12px;
    align-items: end;
}
.modal-nav .modal-lang-select {
    padding-right: 36px;
}
.modal-lang-select a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

/* #region modal */

.modal-nav-overlay {
    background-color: #FCFCFC;
    opacity: 0;
    position: fixed;
    top: 72px;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 100;
    pointer-events: none;
}
.modal-nav-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal-nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-right: 16px;
}

.modal-menu>li {
    justify-content: end;
    fill: #4f6722;
}
.modal-menu .lang-select .icon {
    fill: black;
}

/* #endregion modal */

@media screen and (min-width: 1440px) {
    header {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .brand {
        gap: 16px;
    }

    .brand>img {
        width: 104px;
        height: 104px;
    }

    .brand-text>p {
        font-size: 24px;
    }

    .hamburger-menu {
        display: none;
    }

    .header-menu {
        display: flex;
        flex-direction: row;
    }

    .header-menu li:last-child {
        position: relative;
        cursor: pointer;
    }

    .header-divider {
        border: 1px solid #fff;
        width: 0px;
        height: 30px;
    }

    .modal-lang-overlay {
        background-color: #FCFCFC;
        display: none;
        position: absolute;
        top: -5px;
        right: -10px;
        width: 100px;
        z-index: -1;
        pointer-events: none;

        padding-top: 42px;
        padding-right: 26px;
        padding-bottom: 8px;
        border-radius: 8px;
    }
    .modal-lang-overlay.is-open {
        display: block;
        pointer-events: auto;
    }
    .modal-lang-select {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: end;
    }
    .modal-lang-select a {
        color: black;
        font-size: 20px;
        text-decoration: none;
    }
    .header-menu li:last-child.is-open {
        z-index: 100;
        border-radius: 8px 8px 0px 0px;
        background-color: #fff;
        fill: #4f6722;
        pointer-events: auto;
    }
    .header-menu li:last-child.is-open .lang-select {
        color: #4f6722;
    }
}
