# Database settings
POSTGRES_DB=db_name
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password

#Django settings
SECRET_KEY=django_key
DEBUG=1
DJANGO_SUPERUSER_USERNAME=name
DJANGO_SUPERUSER_EMAIL=email
DJANGO_SUPERUSER_PASSWORD=password