*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    line-height: 125%;
    letter-spacing: 0%;
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

html {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

body {
    overflow-x: hidden;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.article-container,
.block-rtfbody,
.block-images3p3,
.block-images2,
.block-images3p2,
.block-images2p1,
.block-images3p3,
.block-image,
.block-gallery,
.block-imagestext {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 24px;
    max-width: 360px;
}

button,
.anchor-button {
    transition: all 0.3s ease;
}
button:hover,
.anchor-button:hover {
    cursor: pointer;
    background-color: #bd6e00;
}

.brand {
    display: flex;
    gap: 12px;
    flex-direction: row;
    align-items: center;
    font-family: "Segoe Script", sans-serif;
}
.brand>img {
    width: 48px;
    height: 48px;
}
.brand-text>p {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    color: #fff;
}

@media screen and (min-width: 1440px) {
    .container {
        padding-left: 104px;
        padding-right: 104px;
        width: 1440px;
    }
    .article-container,
    .block-rtfbody,
    .block-images3p3,
    .block-images2,
    .block-images3p2,
    .block-images2p1,
    .block-images3p3,
    .block-image,
    .block-gallery,
    .block-imagestext {
        padding-left: 312px;
        padding-right: 312px;
        margin-bottom: 32px;        
        max-width: none;
        width: 1440px;
    }
}
