*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    line-height: 125%;
    letter-spacing: 0%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.brand {
    display: flex;
    gap: 12px;
    flex-direction: row;
    align-items: center;
    font-family: "Segoe Script", sans-serif;
}
.brand>img {
    width: 48px;
    height: 48px;
}
.brand-text>p {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    color: #fff;
}

@media screen and (min-width: 1440px) {
    .container {
        padding-left: 104px;
        padding-right: 104px;
        width: 1440px;
    }
}
