<!-- Gallery of images  -->
{% load static wagtailcore_tags wagtailimages_tags my_components i18n %}

<!-- example modal -->
<!-- <div class="article-container">
    <div class="swiper">
        <div class="swiper-header">
            <h3>Lorem Ipsum</h3>
            <div class="swiper-button-wrapper">
                <div class="swiper-button-prev swiper-button">
                    <svg class="icon">
                        <use href="/media/icons.svg#arrow"></use>
                    </svg>
                </div>
                <div class="swiper-button-next swiper-button">
                    <svg class="icon">
                        <use href="/media/icons.svg#arrow"></use>
                    </svg>
                </div>
            </div>
        </div>

        <div class="swiper-divider"></div>
    
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="media/images/87628ce2e74007577e320044b562c800.jpg">
            </div>
            <div class="swiper-slide">
                <img src="media/images/87628ce2e74007577e320044b562c800.jpg">
            </div>
            <div class="swiper-slide">
                <img src="media/images/87628ce2e74007577e320044b562c800.jpg">
            </div>
            <div class="swiper-slide">
                <img src="media/images/87628ce2e74007577e320044b562c800.jpg">
            </div>
            <div class="swiper-slide">
                <img src="media/images/87628ce2e74007577e320044b562c800.jpg">
            </div>
            <div class="swiper-slide">
                <img src="media/images/87628ce2e74007577e320044b562c800.jpg">
            </div>
            <div class="swiper-slide">
                <img src="media/images/87628ce2e74007577e320044b562c800.jpg">
            </div>
            <div class="swiper-slide">
                <img src="media/images/87628ce2e74007577e320044b562c800.jpg">
            </div>
            <div class="swiper-slide">
                <img src="media/images/87628ce2e74007577e320044b562c800.jpg">
            </div>
            <div class="swiper-slide">
                <img src="media/images/87628ce2e74007577e320044b562c800.jpg">
            </div>
            <div class="swiper-slide">
                <img src="media/images/87628ce2e74007577e320044b562c800.jpg">
            </div>
            <div class="swiper-slide">
                <img src="media/images/87628ce2e74007577e320044b562c800.jpg">
            </div>
        </div>
    </div>
</div> -->

<!-- title to be added -->
<div class="swiper">
    <div class="swiper-header">
        <h3>{{ value.title }}</h3>
        <div class="swiper-button-wrapper">
            <div class="swiper-button-prev swiper-button">
                <svg class="icon">
                    <use href="/media/icons.svg#arrow"></use>
                </svg>
            </div>
            <div class="swiper-button-next swiper-button">
                <svg class="icon">
                    <use href="/media/icons.svg#arrow"></use>
                </svg>
            </div>
        </div>
    </div>

    <div class="swiper-divider"></div>

    <div class="swiper-wrapper">
        {% for img in value.images %}
        <div class="swiper-slide">
            {% image img width-165 format-webp as rendered_image %}
            <img src="{{ rendered_image.url }}" 
                alt="{{ rendered_image.alt }}"
                loading="lazy"/>
        </div>
        {% endfor %}
    </div>
</div>