<!-- Structure: -->
<!-- Row with 2 images -->
<!-- Row with 1 image below -->

<!-- Example -->
{% load wagtailimages_tags %}
<div class="images2p1">
    <div class="first-row">
        {% image value.images.0 width-500 as img1 %}
        <img src="media/images/87628ce2e74007577e320044b562c800.jpg">

        {% image value.images.1 width-500 as img2 %}
        <img src="media/images/87628ce2e74007577e320044b562c800.jpg">
    </div>
    <div class="second-row">
        {% image value.images.2 width-1004 as img3 %}
        <img src="media/images/87628ce2e74007577e320044b562c800.jpg">
    </div>
</div>