<!-- Structure: -->
<!-- Row with 3 images -->
<!-- Row with 2 image below -->

<!-- Example -->
{% load wagtailimages_tags %}
{# TODO: Use the rendered img1..img5 here instead of the hardcoded placeholder #}
<div class="images3p2">
    <div class="first-row">
        {% image value.images.0 width-300 as img1 %}
        <img src="media/images/87628ce2e74007577e320044b562c800.jpg">
        {% image value.images.1 width-300 as img2 %}
        <img src="media/images/87628ce2e74007577e320044b562c800.jpg">
        {% image value.images.2 width-300 as img3 %}
        <img src="media/images/87628ce2e74007577e320044b562c800.jpg">
    </div>
    <div class="second-row">
        {% image value.images.3 fill-350x300 as img4 %}
        <img src="media/images/87628ce2e74007577e320044b562c800.jpg">
        {% image value.images.4 fill-550x300 as img5 %}
        <img src="media/images/87628ce2e74007577e320044b562c800.jpg">
    </div>
</div>