<!-- Structure: -->
<!-- Row with 2 images -->
<!-- Row with 1 image below -->

{% load wagtailimages_tags %}
<div class="images2p1">
    <div class="first-row">
        {% image value.images.0 width-500 as img1 %}
        <img src="{{ img1.url }}" alt="{{ img1.alt }}">

        {% image value.images.1 width-500 as img2 %}
        <img src="{{ img2.url }}" alt="{{ img2.alt }}">
    </div>
    <div class="second-row">
        {% image value.images.2 width-1000 as img3 %}
        <img src="{{ img3.url }}" alt="{{ img3.alt }}">
    </div>
</div>