<!-- Example  -->
{% load wagtailimages_tags %}
<style>
    .media-grid-section {
    display: table;
    width: 100%;
    margin-bottom: 30px;
    table-layout: fixed;
    }
    .media-grid-column {
        display: table-cell;
        vertical-align: top;
        width: 50%;
    }

    .media-grid-section.img-right {
        direction: rtl;
    }
    .media-grid-section.img-right .media-grid-column {
        direction: ltr;
    }
</style>

<div class="media-grid-section {{ value.layout }}">

    <div class="media-grid-column">
        {% for img in value.images %}
            {% image img fill-600x400 as rendered_image %}
            <img src="{{ rendered_image.url }}">
        {% endfor %}
    </div>

    <div class="media-grid-column column-text">
        <div class="rich-text-content">
            {{ value.text }}
        </div>
    </div>

</div>