{% load static wagtailimages_tags my_components %}

{% image settings.main.CompanySettings.logo original as logo %}
<footer>
    <div class="container">
        <div class="footer-info">
            <h2>{{ footer_settings.caption }}</h2>
            <div class="footer-address">
                <div class="footer-social">
                    <span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="white">
                            <use href="/media/icons.svg#mail"></use> 
                        </svg>
                    </span>
                    {{ settings.main.CompanySettings.email }}
                </div>
                <div class="footer-social">
                    <span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="white">
                            <use href="/media/icons.svg#phone"></use> 
                        </svg>
                    </span>
                    {{ settings.main.CompanySettings.phone }}
                </div>
                <a class="footer-social" href="{{ settings.main.CompanySettings.instagram }}" target="_blank">
                    <span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="white">
                            <use href="/media/icons.svg#instagram"></use> 
                        </svg>
                    </span>
                    Instagram
                </a>
                <a class="footer-social" href="{{ settings.main.CompanySettings.facebook }}" target="_blank">
                    <span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="white">
                            <use href="/media/icons.svg#instagram"></use> 
                        </svg>
                    </span>
                    Facebook
                </a>
            </div>
        </div>
        
        <hr class="divider"></hr>

        <div class="footer-frame">
            <!-- desktop only -->
            <div class="footer-logo">
                <img src="{{ logo.url }}" alt="logo" height="48" width="48">

                <span class="footer-naming">{{ settings.main.CompanySettings.title }} - {{ settings.main.CompanySettings.subtitle }}</span>
            </div>
            <!-- mobile only -->
            <div class="brand">
                <img src="{{ logo.url }}" alt="{{ settings.main.CompanySettings.title }}">
                <div class="brand-text">
                    <p>{{ settings.main.CompanySettings.title }}</p>
                    <p>{{ settings.main.CompanySettings.subtitle }}</p>
                </div>
            </div>

            <div class="footer-text">
                {{ footer_settings.rights }}
            </div>
        </div>
    </div>
</footer>