{% load static wagtailimages_tags my_components %}
<header>
    <div class="container">
        <div class="brand">
            <img src="{{ header_settings.logo.url }}" alt="{{ header_settings.title }}">
            <div class="brand-text">
                <p>{{ header_settings.title }}</p>
                <p>{{ header_settings.subtitle }}</p>
            </div>
        </div>
        <nav class="header-nav">
            <svg class="icon hamburger-menu" width="32" height="32">
{#               TODO: use static <use href="{% static 'main/icons.svg' %}#hamburger-menu"></use>#}
                <use href="./media/icons.svg#hamburger-menu"></use>
            </svg>
            <ul class="header-menu">
{#               TODO: This code is duplicated (same as line 57). Consider extracting it into an include#}
                <li>
                    <svg class="icon" width="24" height="24">
                        <use href="./media/icons.svg#mail"></use>
                    </svg>
                    use
{#                    TODO: Email value should come from the backend/admin settings instead of being hardcoded#}
                    <a href="mailto:star.creatiff@gmail.com" class="nav-link">
                        {{ header_settings.email }}
                    </a>
                </li>
                <li>
                    <svg class="icon" width="24" height="24">
                        <use href="./media/icons.svg#phone"></use>
                    </svg>
                    <a href="tel:+34644825983" class="nav-link">
                        {{ header_settings.phone }}
                    </a>
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <li>
                    <svg class="icon" width="24" height="24">
                        <use href="./media/icons.svg#lang-select"></use>
                    </svg>
                    <div class="lang-select">
                        <p>UA</p>
                        <svg class="icon" width="8" height="8">
                            <use href="./media/icons.svg#dropdown"></use>
                        </svg>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="modal-overlay">
    <nav class="modal-nav">
        <ul class="modal-menu">
            <li>
                <a href="mailto:star.creatiff@gmail.com" class="nav-link">
                    {{ header_settings.email }}
                </a>
                <svg class="icon" width="24" height="24">
                    <use href="./media/icons.svg#mail"></use>
                </svg>
            </li>
            <li>
                <a href="tel:+34644825983" class="nav-link">
                    {{ header_settings.phone }}
                </a>
                <svg class="icon" width="24" height="24">
                    <use href="./media/icons.svg#phone"></use>
                </svg>
            </li>
            <li>
                <div class="lang-select">
                    <p>UA</p>
                    <svg class="icon" width="8" height="8">
                        <use href="./media/icons.svg#dropdown"></use>
                    </svg>
                </div>
                <svg class="icon" width="24" height="24">
                    <use href="./media/icons.svg#lang-select"></use>
                </svg>
            </li>
        </ul>
    </nav>
</div>
