{% load static wagtailcore_tags wagtailimages_tags my_components i18n %}
<header>
    <div class="container">
        <div class="brand">
            {% image settings.main.CompanySettings.logo original as logo %}
            <img src="{{ logo.url }}" alt="{{ settings.main.CompanySettings.title }}">
            <div class="brand-text">
                <p>{{ settings.main.CompanySettings.title }}</p>
                <p>{{ settings.main.CompanySettings.subtitle }}</p>
            </div>
        </div>
        <nav class="header-nav">
            <svg class="icon hamburger-menu" width="32" height="32">
                <use href="/media/icons.svg#hamburger-menu"></use>
            </svg>
            <ul class="header-menu">
                <li>
                    <svg class="icon" width="24" height="24">
                        <use href="/media/icons.svg#mail"></use>
                    </svg>
                    <a href="mailto:{{ settings.main.CompanySettings.email }}" class="nav-link">
                        {{ settings.main.CompanySettings.email }}
                    </a>
                </li>
                <li>
                    <svg class="icon" width="24" height="24">
                        <use href="/media/icons.svg#phone"></use>
                    </svg>
                    <a href="tel:{{ settings.main.CompanySettings.phone }}" class="nav-link">
                        {{ settings.main.CompanySettings.phone }}
                    </a>
                </li>
                <li>
                    <div class="header-divider"></div>
                </li>
                <li>
                    <svg class="icon" width="24" height="24">
                        <use href="/media/icons.svg#lang-select"></use>
                    </svg>
                    <div class="lang-select">
                        UA
                        <svg class="icon" width="8" height="8">
                            <use href="/media/icons.svg#dropdown"></use>
                        </svg>
                    </div>
                    <div class="modal-lang-overlay">
                        <div class="modal-lang-select">
                            {% for language_code, language_name in LANGUAGES %}
                                {% get_language_info for language_code as lang %}

                                {% language language_code %}
                                    <a href="{% pageurl page.localized %}" rel="alternate" hreflang="{{ language_code }}">
                                        {{ lang.code|upper }}
                                    </a>
                                {% endlanguage %}
                            {% endfor %}
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="modal-nav-overlay">
    <nav class="modal-nav">
        <ul class="modal-menu">
            <li>
                <a href="mailto:{{ settings.main.CompanySettings.email }}" class="nav-link">
                    {{ settings.main.CompanySettings.email }}
                </a>
                <svg class="icon" width="24" height="24">
                    <use href="/media/icons.svg#mail"></use>
                </svg>
            </li>
            <li>
                <a href="tel:{{ settings.main.CompanySettings.phone }}" class="nav-link">
                    {{ settings.main.CompanySettings.phone }}
                </a>
                <svg class="icon" width="24" height="24">
                    <use href="/media/icons.svg#phone"></use>
                </svg>
            </li>
            <li>
                <div class="lang-select">
                    <p>UA</p>
                </div>
                <svg class="icon" width="24" height="24">
                    <use href="/media/icons.svg#lang-select"></use>
                </svg>
            </li>
        </ul>
        <div class="modal-lang-select">
            {% for language_code, language_name in LANGUAGES %}
                {% get_language_info for language_code as lang %}

                {% language language_code %}
                    <a href="{% pageurl page.localized %}" rel="alternate" hreflang="{{ language_code }}">
                        {{ lang.code|upper }}
                    </a>
                {% endlanguage %}
            {% endfor %}
        </div>
    </nav>
</div>

