{% load static wagtailcore_tags wagtailimages_tags my_components i18n %}

<section class="hero">
    <div class="container">
        <div class="hero-text-wrapper">
            <h1>
                STAR CREATIFF
                <br/>
                Hacemos de todo
            </h1>
            <p>
                Nuestra empresa se ha creado para satisfacer cualquier capricho y deseo creativo de nuestros clientes. Fabricaremos en nuestra propia base e instalaremos todo lo que se le ocurra.
                <br/>
                <br/>
                Implementamos todas las soluciones técnicas.
            </p>
            <button type="button">Realizar idea</button>
            <ul class="hero-stats-list">
                <li>
                    <p class="hero-stats-num">
                        9K<span class="highlight">+</span>
                    </p>
                    <p class="hero-stats-text">
                        Clientes Felices
                    </p>
                </li>
                <li>
                    <p class="hero-stats-num">
                        2K<span class="highlight">+</span>
                    </p>
                    <p class="hero-stats-text">
                        Muebles Vendidos
                    </p>
                </li>
                <li>
                    <p class="hero-stats-num">
                        28<span class="highlight">+</span>
                    </p>
                    <p class="hero-stats-text">
                        Estructuras Construidas
                    </p>
                </li>
            </ul>
        </div>
        <div class="img-container">
            <div class="img-placeholder"></div>
        </div>
    </div>
</section>