{% load static wagtailcore_tags wagtailimages_tags my_components i18n %}

<section class="hero">
    <div class="container">
        <div class="hero-text-wrapper">
            <h1>
                {{ value.caption_first_row }}
                <br/>
                {{ value.caption_second_row }}
            </h1>
            <p>
                {{ value.big_paragraph }}
                <br/>
                <br/>
                {{ value.small_paragraph }}
            </p>
            <button type="button">{{ value.button }}</button>
            <ul class="hero-stats-list">
                {% for stat in value.statistics %}
                    <li>
                        <p class="hero-stats-num">
                            {{ stat.stats_number }}<span class="highlight">+</span>
                        </p>
                        <p class="hero-stats-text">
                            {{ stat.stats_text }}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="img-container">
            <div class="img-placeholder"></div>
        </div>
    </div>
</section>