
{% load static wagtailcore_tags wagtailimages_tags my_components i18n %}
<section class="promo">
    <div class="container">
        {% image value.image width-400 as img %}
        <img src="{{ img.url }}" alt="{{ img.alt }}">
        <div class="promo-text-wrapper">
            <h2>{{ value.title }}</h2>
            <div class="promo-text-main">
                <p>{{ value.description }}</p>
                <ul class="benefits">
                    {% for benefit in value.benefits %}
                        <li>
                            <div class="benefit-head">
                                <div class="promo-svg">
                                    <svg width="24" height="24" fill="#8EB547">
                                        <use href="/media/icons.svg#tool"></use>
                                    </svg>
                                </div>
                                <h3>{{ benefit.title }}</h3>
                            </div>
                            <p>
                                {{ benefit.text }}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
                <p>
                    {{ value.cta_text }}
                </p>
                <button class="promo-button">{{ value.button_text }}</button>
            </div>
        </div>
    </div>
</section>