{% extends "main/base.html" %}

{% load static wagtailcore_tags wagtailimages_tags my_components i18n %}

{% block title %}Home{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'main/homepage.css' %}">
<link rel="stylesheet" href="{% static 'main/base.css' %}">
<link rel="stylesheet" href="{% static 'main/components/contact_form.css' %}">
<link rel="stylesheet" href="{% static 'main/components/header.css' %}">
<link rel="stylesheet" href="{% static 'main/components/footer.css' %}">
<link rel="stylesheet" href="{% static 'main/components/hero.css' %}">
{% endblock %}

{% block content %}
    <!-- Language choose -->
    {% for language_code, language_name in LANGUAGES %}
        {% get_language_info for language_code as lang %}

        {% language language_code %}
            <a href="{% pageurl page.localized %}" rel="alternate" hreflang="{{ language_code }}">
                {{ lang.code|upper }}
            </a>
        {% endlanguage %}
    {% endfor %}

    {% include "main/components/hero.html" %}

    <!-- Posts tiles -->
    <section class="section-post-list">
        <div class="container">
            <ul class="post-list">
            {% for post in posts %}
                <li>
                    {% image post.preview_photo fill-100x100 %}
                    <div class="post-list-text-wrapper">
                        <div class="post-list-text">
                            <h3>{{ post.preview_title }}</h3>
                            <p>{{ post.preview_description }}</p>
                        </div>
                        <a href="{% pageurl post %}">Leer Más</a>
                    </div>
                </li>
            {% endfor %}
            </ul>
            <button type="button">Cargar más</button>
        </div>
    </section>
    <!-- {% contact_form %} -->

    <!-- {% footer %} -->
{% endblock %}